/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 15px;
    padding-bottom: 20px;
    background-color: #212121;
    color: #fff;
    font-family: 'Abel', sans-serif;
}

.navbar-brand {
    color: #fff !important;
    font-size: 25px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .jumbotron {
        margin-top: 20px;
    }

    .body-content {
        padding: 0;
    }
}

.menu-bar {
    float: right;
}

    .menu-bar .menu-bar-item {
        color: #fff !important;
    }
    .menu-bar .menu-bar-item:hover,
    .menu-bar .menu-bar-item:focus {
        color: #bdbdbd !important;
        background-color: transparent !important;
    }

.filter-bar {
    background-color: #282B2E;
    width: 100%;
    border-radius: 5px;
    margin-top: 1%;
    padding: 10px;
}

.filter-buttons {
    background-color: #282B2E !important;
    width: 100%;
    box-shadow: none !important;
    font-size: 0.8rem !important;
    line-height: 1.3 !important;
}

    .filter-buttons::after {
        margin-top: 5px !important;
    }

.game-list {
    margin-top: 1%;
}

.game-rating {
    font-size: 10px;
    float: right;
    margin-top: -23px;
    margin-right: 3px;
}
.game-category {
    font-size: 8px;
    opacity: 0.6;
    margin-top: -5px;
}
.game-platform {
    font-size: 10px;
}

.add-to-cart {
    background-color: #373737 !important;
    border-color: #65656538 !important;
}
.game-img {
    border: 1px solid #00000073;
    border-radius: 3px;
    width: 100%;
    height: 7.7em;
    object-fit: cover;
}

.game-card {
    width: 100%;
    background-color: #282B2E;
    box-shadow: rgb(0 0 0 / 0.40) 5px 5px 10px;
}